/* Esto afecta a todo el body */
html, body {
	margin:0 auto;
	padding:0px;
	width:980px;
	font-size:20px;
	color:#3c3c3c;
	background-size:100% auto;
	line-height:18px;
	height: 100vh;
	background: linear-gradient(to bottom, #003b5c, #9e1b32); 
	font-family: Arial, sans-serif;
    color: #ffffff;
	}

/* Estilos para la imagen de cabecera */
.img_cabecera {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 350px;
  }

/* Div del menú de la página */
.div_menu {background-color: #000FFF;
	text-align:center;
	margin-left:0px;
	text-decoration: none;
	font: oblique bold 100% cursive;;
	color: #FF0000;
    font-size: 15px;
}

/*Le ponemos un estilo para que el usuario sepa en que pagina está*/

#botonproductos {
	border-color: #ffffff;
}

/* Estilos comunes de los botones de navegación */
.boton,.boton:hover,.botonin,.botonin:hover {
	text-align:center;
	text-decoration: none;
	display:inline-block;
	padding: 10px; 
	white-space: nowrap;
	margin: 5px 5px 10px;
	border: 2px solid black;
	border-radius: 2px;
}

/*Estilo para alinear al centro el titulo*/
section h1{
    text-align: center;
}

/*Estilos para los productos*/
.productos{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

.productos img{
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.productos div{
    border: 2px solid #000000;
    background-color:#3c3c3c;
    text-align: center;}
