<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" >
    <title>Contacto</title>
    <link rel="stylesheet" type="text/css" href="../css/EstilosContacto.css"> 
</head>
<body>
    <header>
        <div>
            <img class="img_cabecera" src="../images/LogoCabecera.jpg" alt="Imagen de cabecera" 
            title="Imagen de cabecera">
        </div>
        <nav>
         <!--Div que contiene el menú de navegación-->
            <div class="div_menu">
                <span class="botonin">
                    <a href="../index.html" class="div_menu">Inicio</a>
                </span>
                <span class="boton">
                    <a href="Productos.html" class="div_menu">Productos</a>
                </span>
                <span class="boton">
                    <a href="Presupuesto.html" class="div_menu">Presupuesto</a>
                </span>
                <span id="botoncontacto" class="boton">
                    <a href="Contacto.html" class="div_menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>
    <section>
        <h1>Contacta con el FC Barcelona</h1>
            <div>
                <h3>Oficinas FCB</h3>
                    <p>Arístides Maillol s/n, 08028 Barcelona</p>
                    <p>Teléfono de contacto: +34 93 496 36 00</p>
                    <p>Horario de atención: De lunes a viernes de 9 a 20 horas.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.7694731996676!2d2.1174369774131985!3d41.37909297130106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498f67ddc56e3%3A0x97271e36f048e440!2sCarrer%20d&#39;Ar%C3%ADstides%20Maillol%2C%20Les%20Corts%2C%2008028%20Barcelona!5e0!3m2!1ses!2ses!4v1743781630794!5m2!1ses!2ses" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
    </section>

    <footer>
        <ul>
            <li class="fotos"><img src="../images/twitter.jpg" alt="twitter" width="20" height="20"><a class="enlace-blanco"
                    href="https://x.com/FCBarcelona_es">F.C. Barcelona</a></li>
            <li class="fotos"><img src="../images/instagram.png" alt="instagram" width="20" height="20"><a class="enlace-blanco"
                    href="https://www.instagram.com/fcbarcelona/">F.C. Barcelona</a></li>
            <li class="fotos"><img src="../images/Youtube_logo.png" alt="youtube" width="20" height="20"><a class="enlace-blanco"
                    href="https://www.youtube.com/user/fcbarcelona">F.C. Barcelona</a></li>
        </ul>
        <span>Distrito de Les Corts 08028 © Copyright FC Barcelona Página Oficial del FC Barcelona</span>
    </footer>
</body>
</html>
