<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos del F.C Barcelona</title>
    <link rel="stylesheet" type="text/css" href="../css/EstiloProductos.css"> 
    <link rel="icon" type="image/x-icon" href="../images/LogoCabecera.jpg">
</head>
<body>    
    <header>
        <div>
            <img class="img_cabecera" src="../images/LogoCabecera.jpg" alt="Imagen de cabecera" 
            title="Imagen de cabecera">
        </div>
        <nav>
        <!--Div que contiene el menú de navegación-->
            <div class="div_menu">
                <span class="botonin">
                    <a href="../index.html" class="div_menu">Inicio</a>
                </span>
                <span id="botonproductos" class="boton">
                    <a href="Productos.html" class="div_menu">Productos</a>
                </span>
                <span class="boton">
                    <a href="Presupuesto.html" class="div_menu">Presupuesto</a>
                </span>
                <span class="boton">
                    <a href="Contacto.html" class="div_menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>
    <section>
        <h1>Productos Del Barcelona</h1>
            <div class="productos">
                <div><img src="../images/PrimeraEquipacion.jpg" alt="Equipacion uno" width="20" height="20"><p>Primera Equipacion Jugador</p>
                    <p>70€</p>
                </div>
                <div><img src="../images/SegundaEquipacion.jpg" alt="Equipacion dos" width="20" height="20"><p>Segunda Equipacion Jugador</p>
                    <p>65€</p>
                </div>
                <div><img src="../images/balonfirmado.jpg" alt="Balon firmado" width="20" height="20"><p>Balon ed.especial firmado por los jugadores</p>
                    <p>300€</p>
                </div>
                <div><img src="../images/ChandalCalle.jpg" alt="Chandal" width="20" height="20"><p>Chandal de entrenamiento</p>
                    <p>100€</p>
                </div>
            </div>
    </section>
    <footer>
        <ul>
            <li class="fotos"><img src="../images/twitter.jpg" alt="twitter" width="20" height="20"><a class="enlace-blanco"
                    href="https://x.com/FCBarcelona_es">F.C. Barcelona</a></li>
            <li class="fotos"><img src="../images/instagram.png" alt="instagram" width="20" height="20"><a class="enlace-blanco"
                    href="https://www.instagram.com/fcbarcelona/">F.C. Barcelona</a></li>
            <li class="fotos"><img src="../images/Youtube_logo.png" alt="youtube" width="20" height="20"><a class="enlace-blanco"
                    href="https://www.youtube.com/user/fcbarcelona">F.C. Barcelona</a></li>
        </ul>
        <span>Distrito de Les Corts 08028 © Copyright FC Barcelona Página Oficial del FC Barcelona</span>
    </footer>
</body>
</html>
